

<nav style="background-color:" class="navbar navbar-light navbar-glass navbar-top  navbar-expand ">

    <ul  class="nav bottom-bar navbar-nav  navbar-nav-icons ms-auto flex-row align-items-center nav-fill">
        <li  class="nav-item">
            <!-- parent pages-->
            <a class="nav-link " href="@("/dashboard")" role="button" aria-expanded="false" aria-controls="dashboard">
                <div class="d-flex align-items-center">
                    <span class="nav-link-icon"><span style="width:30px;height:30px;margin-left:20px;" class="fas fa-chart-pie"></span></span> <span class="nav-link-text ps-1"></span>
                </div>
            </a>
        </li>
        <li class="nav-item">
            <!-- parent pages--><a class="nav-link " href="@("/booking-list")" role="button" aria-expanded="false" aria-controls="events">
                <div class="d-flex align-items-center">
                    <span class="nav-link-icon"><span style="width:30px;height:30px;" class="fas fa-calendar-day"></span></span><span class="nav-link-text ps-1"></span>
                </div>
            </a>
        </li>
        <li class="nav-item">
            <!-- parent pages--><a class="nav-link" href="@("/conference-room-list")" role="button" aria-expanded="false" aria-controls="e-commerce">
                <div class="d-flex align-items-center">
                    <span class="nav-link-icon"><span style="width:30px;height:30px;" class="fas fa-house-user"></span></span><span class="nav-link-text ps-1"></span>
                </div>
            </a>
        </li>
        <li class="nav-item">
            <!-- parent pages-->
            <a class="nav-link" href="@("/analytics")" role="button">
                <div class="d-flex align-items-center">
                    <span class="nav-link-icon"><span style="width:30px;height:30px;" class="far fa-chart-bar"></span></span><span class="nav-link-text ps-1"></span>
                </div>
            </a>

        </li>
</ul>
</nav>